<header class="bg-dark text-white py-3">
  
</header>

<main class="text-center d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
  

  <div class="tagline mt-5">
    <h2 class="fw-light">Transformo ideas en experiencias conversacionales</h2>
    <!--
    <a href="#" class="btn btn-primary btn-lg mt-4">Ver mi trabajo</a>
    -->
    
  </div>
</main>


